body {
    background-image: linear-gradient(rgb(201, 166, 121), rgb(58, 43, 27));
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    height: 100vh;
}

#bodyHeader {
    margin-right: -60px;
    color:rgb(241, 223, 197);
    font-family: sans-serif;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 60px;
    transition: 4s;
}

#bodyHeader:hover {
    letter-spacing: 80px;
    margin-right: -80px;
    cursor: default;
}

#newBookBtn {
    cursor: pointer;
    padding: 15px;
    margin-bottom: 50px;
    border-style: solid;
    border-color: rgba(241, 223, 197, 0.4);
    border-radius: 5px;
    border-width: 1px;
    color:rgb(241, 223, 197);
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    transition: 0.2s;
}

#newBookBtn:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

#container {
    display: hidden;
    backdrop-filter: blur(8px);
    border-style: solid;
    border-color: rgba(241, 223, 197, 0.4);
    border-radius: 5px;
    border-width: 1px;
    margin-top: 250px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
}

#formContainer {
    display: flex;
    flex-direction: column;
    min-width: 400px;
}

#formContainer input[type="text"] {
    color:rgb(241, 223, 197);
    background-color: transparent;
    border-color: rgba(241, 223, 197, 0.4);
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    transition: 2s;
}

#formContainer input[type="text"]:focus {
    color:rgb(241, 223, 197);
    outline: none;
}

#formContainer input[type="text"]::placeholder{
    color:rgb(241, 223, 197);
}

#formContainer label {
    color:rgb(241, 223, 197);
    font-size: 22px;
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    align-self: center;
}

#isRead {
    appearance: none;
    margin: 5px;
    background-color: rgba(241, 223, 197, 0.4);
    border-color: rgba(241, 223, 197, 0.4);
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-spacing: 5px;
    width: 30px;
    height: 30px;
    font-size: 22px;
    align-self: center;
    transition: 0.5s;
}

#isRead:hover {
    background-color: transparent;
    cursor: pointer;
}

#isRead:focus {
    outline: none;
}

#isRead:checked {
    background-color: transparent;
    left: 0.25em;
    top: 0.50em;
    width: 18px;
    height: 30px;
    border: solid rgb(241, 223, 197);
    border-width: 0 0.20em 0.20em 0;
    transform: rotate(45deg);
}

#btnContainer {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    min-width: 365px;
}

#btnContainer button {
    background-color: transparent;
    cursor: pointer;
    padding: 15px;
    min-width: 150px;
    border-style: solid;
    border-color: rgba(241, 223, 197, 0.4);
    border-radius: 5px;
    border-width: 1px;
    color:rgb(241, 223, 197);
    font-size: 20px;
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    transition: 0.2s;
}

#btnContainer button:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

#library{
    max-width: 100%;
    border-style: solid;
    border-color: rgba(241, 223, 197, 0.4);
    border-width: 1px;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#library div {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: rgba(241, 223, 197, 0.4);
    border-width: 1px;
    border-radius: 5px;
    align-items: center;
    justify-content: space-evenly;
    margin: 15px;
    padding: 15px;
    min-width: 100px;
    min-height: 100px;
    color:rgb(241, 223, 197);
    font-size: 13px;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 5px;
    transition: 1s;
    box-shadow: 0px 0px 20px 0px rgba(241, 223, 197, 0.4);
}

#library div:hover {
    cursor: pointer;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.05);
}